* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}
html, body{
    background: rgb(7,123,138);
    background: linear-gradient(132deg, rgba(7,123,138,1) 0%, rgba(162,213,198,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-width: 600px;
}
.container{
    display: grid;
    grid-template-rows: 125px 100%;
    grid-template-areas: 
    "header"
    "content";
}
/***** Header styling ******/
.header{
    grid-area: header;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0px 1px 6px black;
}
.title{
    font-size: 70px;
    font-weight: 900;
}
/***** End Header styling ******/

/***** Content styling ******/
.content{
    grid-area: content;
    padding: 15px 25px;
}
/* Add Book button */
.add-btn{
    display: grid;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    font-size: 60px;
    line-height: 100%;
    background-color: white;
    box-shadow: 0px 1px 6px black;
    border-radius: 50px;
    cursor: pointer;
}
.add-btn:hover{
    transition: transform .3s;
    transform: scale(1.1);
}
.add-btn:active{
    transition: transform .1s;
    transform: translate(2px,2px);
}
.add-btn img{
    height: 36px;
    width: auto;
}
/* End Add Book button */
/* Book list styling */
.book-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.book-list-title{
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px lightgray;
    margin-bottom: 15px;
}
.book-list-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 1fr auto 1fr;
    grid-template-areas: 
    "updateBtns updateBtns updateBtns"
    "title title pages"
    "author author pages"
    "status rating rating";
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 3px black;
    border-radius: 15px;
    padding: 5px 10px 10px;
}
.update-btns{
    grid-area: updateBtns;
    align-self: end;
}
.book-title{ 
    grid-area: title;
    align-self: center;
    font-size: 22px;
    font-weight: 900;
}
.book-author{
    grid-area: author;
    margin-bottom: 10px;
    font-size: 18px;
    font-style: italic;
}
.book-pages{
    grid-area: pages; 
    justify-self: end;
    align-self: center;
    padding-right: 15px;
}
.book-status{
    grid-area: status;
    justify-self: center;
    width: 150px;
    text-align: center;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 5px;
}
.book-status.read{
    background-color: #a2d5c6;
}
.book-status.unread{
    background-color: #D6AEA3;
}
.book-rating{
    grid-area: rating;
    justify-self: center;
}
/* End book list styling */
/***** New book form styling *****/
.new-book{
    display: none;
    position: fixed;
    top: 30%;
    left: 30%;
    width: 300px;
    background-color: white;
    box-shadow: 1px 1px 3px black;
    border-radius: 15px;
    padding: 2%;
}
#new-book-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#new-book-form input{
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 4px 5px 0px;
}
#new-book-form input:focus{
    outline: none;
    border-bottom: 3px solid darkgray;
}
#new-pages{
    width: 150px;
}
.new-status-container, .new-rating-container{
    align-self: center;
    text-align: center;
}
#create-btn{
    font-size: 18px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px auto;
    padding: 3px 20px;
}
#create-btn:hover{
    background-color: whitesmoke;
    transition: transform .2s;
    transform: scale(1.05);
}
#create-btn:active{
    transition: transform .1s;
    transform: translate(1px,1px);
}
/***** End New book form styling *****/
/***** End Content styling ******/